.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e4594;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2mm;
}
.navlogin{
  align-items: right;
  padding-left: 2mm;
  justify-content: right;
}
.center{
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Rresults{
  text-align: center;
  background-color: darksalmon;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: .5mm;
  padding-bottom: .5mm;
}

@media (max-width: 900px) {
  .leftpanel{
    text-align: center;
    padding-bottom: 8mm;
  }
  .randomizer{
    height: auto;
    padding-top: 4mm;
    /* padding-bottom: 2mm; */
    margin-left: 14%;
    margin-right: 14%;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2mm;  
  }
}

@media (min-width: 901px) {
  .rightpanel{
    float:right;
    width:60%;
    margin-left: auto;
    margin-right: 2mm;
  }
  .leftpanel{
    float:left;
    width:40%;
    margin-left: 2mm;
    margin-right: 2mm;
    margin-top: 2mm;
    text-align: center;
  }
  .main{
    display: flex;
  }
  .randomizer{
    height: auto;
    padding-top: 14mm;
    /* padding-bottom: 2mm; */
    margin-left: 14%;
    margin-right: 14%;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2mm;
  }
}

.watchlistButtons{
  float: right;
  padding-bottom: 1mm;
  padding-right: 1mm;
}

